
@{
    ViewBag.Title = "CreateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Creating About page </h2>
<form method="post" class="p-4 shadow rounded-3 bg-white">
    <div>
        <label for="ImageUrl" class="form-label">ImageUrl</label>
        <input type="text" class="form-control" name="ImageUrl" placeholder="Enter ImageUrl">
    </div>
    <div class="mb-3">
        <label for="degree" class="form-label">Degree</label>
        <input type="text" class="form-control" name="Degree" placeholder="Enter degree">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input type="text" class="form-control" name="Decription1" placeholder="Enter description">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description2</label>
        <input type="text" class="form-control" name="Decription2" placeholder="Enter description">
    </div>
    <div class="mb-3">
        <label for="adress" class="form-label">Adress (City)</label>
        <input type="text" class="form-control" name="City" placeholder="Enter city">
    </div>
    <div class="mb-3">
        <label for="age" class="form-label">Age</label>
        <input type="text" class="form-control" name="Age" placeholder="Enter age">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" name="Email" placeholder="Enter email">
    </div>
    <div class="mb-3">
        <label for="freelance" class="form-label">Freelance</label>
        <input type="text" class="form-control" name="Freelance" placeholder="Enter freelance status">
    </div>
    <button type="submit" class="btn btn-primary w-100">Add</button>
</form>


