
@{
    ViewBag.Title = "CreateExperience";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Creating Experience page</h2>
<form method="post" class="p-4 shadow rounded-3 bg-white">
    <div class="mb-3">
        <label for="title" class="form-label">Job Title</label>
        <input type="text" class="form-control" name="Title"  placeholder="Enter job title">
    </div>
    <div class="mb-3">
        <label for="startDate" class="form-label">Start Date</label>
        <input type="date" class="form-control" name="StartDate" >
    </div>
    <div class="mb-3">
        <label for="endDate" class="form-label">End Date</label>
        <input type="date" class="form-control" name="EndDate">
    </div>
    <div class="mb-3">
        <label for="companyName" class="form-label">Company Name</label>
        <input type="text" class="form-control" name="CompanyName" placeholder="Enter company name">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Job Description</label>
        <textarea class="form-control" name="Description" rows="3" placeholder="Enter job description"></textarea>
    </div>
    <button type="submit" class="btn btn-primary w-100">Save Job</button>
</form>


