

<ul class="list-unstyled components mb-5">
    <li class="active">
        <a href="/Statistics/"><span class="fa fa-home mr-3"></span>Dashboard</a>
    </li>
    <li>
        <a href="/Category/"><span class="fa fa-map-marker mr-3"></span>Categories</a>
    </li>
    <li>
        <a href="/About/"><span class="fa fa-user mr-3"></span>About</a>
    </li>
    <li>
        <a href="/Education/"><span class="fa fa-graduation-cap mr-3"></span>Education</a>
    </li>
    <li>
        <a href="/Experience/"><span class="fa fa-folder-open mr-3"></span>Experience</a>
    </li>
    <li>
        <a href="/Project/"><span class="fa fa-file mr-3"></span>Projects</a>
    </li>
    <li>
        <a href="/Skills/"><span class="fa fa-cogs mr-3"></span>Skills</a>
    </li>
    <li>
        <a href="/Message/"><span class="fa fa-envelope mr-3"></span>Messages</a>
    </li>
    <li>
        <a href="/Services/"><span class="fa fa-home mr-3"></span>Services</a>
    </li>
    <li>
        <a href="/References/"><span class="fa fa-user mr-3"></span>References</a>
    </li>
    <li>
        <a href="/Contacts"><span class="fa fa-phone mr-3"></span>Contact</a>
    </li>
</ul>


