
@{
    ViewBag.Title = "CreateEducation";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Creating Education page </h2>
<form method="post" class="p-4 shadow rounded-3 bg-white">
    <div class="mb-3">
        <label for="startYear" class="form-label">Start Year</label>
        <input type="date" class="form-control" name="StartYear" placeholder="Enter start year">
    </div>
    <div class="mb-3">
        <label for="endYear" class="form-label">End Year</label>
        <input type="date" class="form-control" name="EndYear" placeholder="Enter end year">
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">School Name</label>
        <input type="text" class="form-control" name="Name" placeholder="Enter school name">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input type="text" class="form-control" name="Description"  placeholder="Enter description">
    </div>
    <div class="mb-3">
        <label for="major" class="form-label">Major</label>
        <input type="text" class="form-control" name="Major" placeholder="Enter major">
    </div>
    <button type="submit" class="btn btn-primary w-100">Save Education</button>
</form>



